body {
    text-align: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 80px;
}

h3 {
    font-size: 32px;
}

img {
    height: 180px;
    width: 360px;
}

.scoreBox>p {
    font-size: 72px;
}

.button {
    height: 34px;
}

#flagImage {
    border: 1px solid black;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}

.scoreRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inputRow {
    margin-top: 30px;
}